@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply 
    w-full mx-auto px-[15px]
    lg:max-w-[970px] xl:max-w-[1170px]
}

@layer base {
    html, html:focus-within { @apply scroll-smooth !important }
    body{
        @apply font-text-nm text-base leading-[26px] text-dark overflow-y-scroll overflow-x-hidden
    }
    p{ @apply mb-5 }
    h1, h2{ @apply leading-[1.3]}
    h2{ @apply mb-[60px] }
    h1, h2 { @apply text-3xl }
    h3 { @apply text-xl }
  }

@layer components{
    body.open{  @apply overflow-hidden; }

    /* START OF HEADER */
    .header{
        @apply z-50 w-full bg-light
    }
    .nav{
        @apply bg-light
        w-full h-screen p-0 z-[99]
        absolute top-[75px] right-[100%]
        lg:static lg:h-fit lg:w-fit
        transition-all duration-300 ease-in-out;
    }
    .nav.open{
        @apply flex flex-col
        top-[75px] right-0
        transition-all duration-300;
    }
    .nav ul.nav_menu{
        @apply w-full flex flex-col lg:flex-row
        justify-center items-center
        transition-all duration-500
    }
    .nav ul.nav_menu>li{
        @apply w-full lg:w-fit lg:px-[16.85px] lg:relative
        h-[60px] lg:h-[75px] leading-[60px] lg:leading-[75px]
        text-center text-sm text-magentah bg-light
        border-t-[1px] border-gray_alt/50 lg:border-none
        transition-all duration-500
        hover:bg-magentah hover:text-light 
        lg:hover:bg-light lg:hover:text-magentah
    }
    .nav ul.nav_menu>li:last-of-type{
        @apply border-b-[1px]
    }
    .nav ul.nav_menu>li:nth-child(3){
        @apply relative h-fit lg:h-[75px] transition-all duration-500
    }
    .nav ul.nav_menu>li>ul.submenu{
        @apply hidden relative lg:absolute left-0 lg:top-[78px]
        w-full lg:w-[275px]
        bg-[#480f2d] lg:bg-light 
        lg:text-magentah text-center
        lg:transition-all lg:duration-500
    }
    .nav ul.nav_menu>li:nth-child(3):hover ul.submenu{
        @apply block lg:px-[11px] lg:py-[10px] 
    }
    .nav ul.submenu>li{
        @apply h-[36px] w-full border-none 
        flex f-center lg:justify-start
        text-center lg:text-left lg:relative
        hover:bg-magentah hover:lg:bg-inherit
    }
    .nav ul.nav_menu>li>a, .nav ul.submenu>li>a{
        @apply block w-full
    }
    .nav ul.nav_menu>li::after{
        @apply lg:absolute lg:bottom-[10px] lg:left-1/2
        lg:content-[''] lg:bg-magentah
        lg:w-0 lg:h-[5px]
        lg:transition-all lg:duration-500
    }
    .nav ul.submenu>li::after{
        @apply lg:absolute lg:bottom-[4px] lg:left-1/2
        lg:content-[''] lg:bg-magentah
        lg:w-0 lg:h-[2px]
        lg:transition-all lg:duration-500
    }
    .nav ul.nav_menu>li:hover::after, .nav ul.submenu>li:hover::after{
        @apply lg:w-full lg:left-0
        lg:transition-all lg:duration-500
    }
    /* .burger */
    .burger {
        @apply w-[40px] h-[40px] cursor-pointer
        relative block lg:hidden
        transition-all duration-500 ease-in-out
    }
    .burger span {
        @apply w-[40px] h-[8px] rounded-lg
        block content-[""] bg-magentah
        absolute top-0 right-0
        transition-all duration-[0.25s] ease-in-out
    }
    .burger span:nth-child(1){
        @apply top-0
    }
    .burger span:nth-child(2), .burger span:nth-child(3){
        @apply top-[15px]
    }
    .burger span:nth-child(4){
        @apply top-[30px]
    }
    .burger.active span:nth-child(1) {
        @apply top-[18px] w-0 right-1/2
    }
    .burger.active span:nth-child(2) {
        @apply rotate-45
    }
    .burger.active span:nth-child(3) {
        @apply -rotate-45
    }
    .burger.active span:nth-child(4) {
        @apply top-[18px] w-0 right-1/2
    }


    /* 
    echo "# tailwind-fbs" >> README.md
    git init
    git add README.md
    git commit -m "first commit"
    git branch -M main
    git remote add origin https://github.com/RonK-0/tailwind-fbs.git
    git push -u origin main */

    /* git remote add origin https://github.com/RonK-0/tailwind-fbs.git
    git branch -M main
    git push -u origin main */

    
    .pageBanner{
        @apply bg-banner_bg bg-lgray bg-400%
        /* bg-no-repeat */
        /* animate-bannerSlide_m */
        animate-bannerSlide
    }
    /* temp solution to make animation work on both desktop and mobile */
    @media (max-width: 768px) {
        @keyframes bannerSlide {
            0% { background-position: 25% 50%}
            100% { background-position: 50% 80% }
        }
    }
    @media (max-width: 450px) {
        @keyframes bannerSlide {
            0% { background-position: 25% 50%}
            100% { background-position: 60% 83% }
        }
    }
    

    .offer__entry{
        @apply w-full lg:w-[92%] mx-auto mb-[60px]
    }
    .offer__entry__label i{
        @apply text-[50px] mb-2
    }
    .offer__entry__label h3{
        @apply h-[76px]
    }
    .offer__entry__details li{
        @apply leading-[2]
    }


    .news .container{
        @apply max-w-[96.35%] lg:max-w-[970px] xl:max-w-[1170px]
        w-full md:w-full
    }
    .news__card{
        @apply flex flex-col items-center
        /* w-full md:max-w-[350px] */
        relative shadow-card_shadow
    }
    .news__card__img{
        @apply overflow-hidden w-full h-[200px]
    }
    .news__card__img img{
        @apply object-cover object-center w-full h-[192px]
        transform transition-all duration-500
        hover:scale-[1.2]
    }
    .news__card__details{
        @apply  max-w-[85%] flex flex-col items-center text-center py-[25px] mb-80x
    }
    .news__card__details h3{
        @apply font-medium mb-5
    }
    .news__card button{
        @apply absolute bottom-0
    }


    .cTestimonial__entries .cTestimonial__entry{
        @apply pb-4 overflow-hidden
    }
    .cTestimonial__entry .cTestimonial__entry__content{
        @apply grid lg:grid-cols-2 items-center py-4 gap-8 lg:gap-0 w-full
    }
    .cTestimonial__entry__person img{
        @apply max-w-[320px] max-h-[320px] mx-auto
    }
    .cTestimonial__entry__quote{
        @apply relative flex flex-col justify-center overflow-visible
        w-full lg:max-w-[364.5px] xl:max-w-[464.25px] mx-auto
    }
    .cTestimonial__entry__quote p{
        @apply font-extrabold text-center leading-[30px] z-10
    }
    .cTestimonial__entry__quote i{
        @apply text-[72px] md:text-[108px] text-[#bbbbbb] opacity-50 scale-y-110
    }
    .cTestimonial__entry__quote i.fa-quote-left{
        @apply absolute top-[-40px] md:top-[-50px] lg:top-[-70px] left-0 lg:left-[-40px]
    }
    .cTestimonial__entry__quote i.fa-quote-right{
        @apply absolute bottom-[-40px] md:bottom-[-50px] lg:bottom-[-70px] right-0 lg:right-[-40px]
    }
    .cTestimonial__wrapper .tns-outer{
        @apply relative
    }
    .cTestimonial__wrapper .tns-outer .tns-nav{
        @apply absolute bottom-0 z-20 w-full
        flex gap-[10px] justify-center flex-wrap
    }
    .cTestimonial__wrapper .tns-outer .tns-nav button{
        @apply bg-magentah w-[15px] h-[15px]
        transition-all
        cursor-pointer rounded-full
    }
    .cTestimonial__wrapper .tns-outer button.tns-nav-active{
        @apply bg-[#be2a76]
    }


    .footer *{
        @apply text-center md:text-left text-[10.75px] text-light
    }
    .footer i{
        @apply text-[1rem] w-4 h-4 text-center flex justify-center items-center
    }
    .footer h4{
        @apply mb-[20px] text-sm ft-sb
    }
    .footer span{
        @apply text-gray-200 
    }
    .footer__links::before, .footer__contact::before{
        @apply hidden lg:block
        absolute top-0 left-0 content-['']
        h-full w-[1px] bg-gray-300
    }
    .footer__socials__links a i{
        @apply px-[10px] py-0 text-[22px]
    }
    .footer__contact span{
        @apply flex gap-2 justify-center lg:justify-start
        py-[1px]
    }

    div.backTop{
        @apply fixed bottom-[2.5%] right-[2.5%]
        w-[60px] h-[60px] bg-dark/65
        border-[1px] border-light
        f-col f-center opacity-0 hidden
        transition-all duration-500
    }
    div.backTop.shown{
        @apply opacity-100 f-col
        transition-all duration-500
    }


    .team__wrapper .team__member{
        @apply hidden lg:block
        absolute bottom-0
        transition-all duration-500
    }
    .team__member{
        @apply transition-all duration-500
    }
    .team__member .team__member__position{
        @apply hidden transition-all duration-500 relative
    }
    .team__member img{
        @apply grayscale transition-all duration-500
    }
    .team__member:hover img{
        @apply grayscale-0 transition-all duration-500
    }
    .team__member:hover .team__member__position{
        @apply block transition-all duration-300 animate-name
    }
    #team-jj { @apply left-[56px] z-[2] }
    #team-jj .team__member__position{ @apply right-[32.5px] }

    #team-jeff { @apply left-[126px] z-[1] }
    #team-jeff .team__member__position{ @apply left-[20px] }

    #team-ada { @apply left-[322px] z-[2] }
    #team-ada .team__member__position{ @apply right-[20px] }

    #team-bea { @apply left-[418px] z-[3] }

    #team-patrick { @apply left-[555px] z-[2] }
    #team-patrick .team__member__position{ @apply right-[32.5px] }

    #team-ralph { @apply left-[703px] z-[1] }
    #team-ralph .team__member__position{ @apply right-[24.5px] }

    #team-michael { @apply left-[805px] z-[1] }

    .partners__list li{
        @apply mx-[45px] my-[40px] w-full max-w-[270px] f-col f-center
    }
}

@layer utilities{
    .btn{
        @apply inline-block
        rounded-[1.875rem]
        ft-sb text-center
        py-[0.8125rem] px-[1.5625rem]
        border-[1px] border-transparent
        transition-all duration-500;
    }
    .btn.bg--magentah{
        @apply bg-magentah text-light
        hover:bg-light hover:text-magentah 
        hover:border-magentah;
    }
    .btn.bg--transparent-w{
        @apply bg-transparent text-light
        border-light
        hover:bg-light hover:text-magentah;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-magentah
        border-magentah
        hover:bg-magentah/10 hover:text-magentah
        hover:border-magentah/10;
    }
    .f-col{ @apply flex flex-col }
    .f-center {@apply items-center justify-center }

    .ft-sb{ @apply font-semibold }
    .ft-b{ @apply font-bold }
    .ft-ex{ @apply font-extrabold }

    .mb-30x{ @apply mb-[30px] }
    .mb-40x{ @apply mb-[40px] }
    .mb-60x{ @apply mb-[60px] }
    .mb-80x{ @apply mb-[80px] }
    .no-mb{ @apply mb-0 }
    .mx-a{ @apply mx-auto }

    .tx-a{ @apply left-1/2 -translate-x-1/2 }

    .py-5v{ @apply py-[5vh] }
    .py-10v{ @apply py-[10vh] }
    .py-15v{ @apply py-[15vh] }
}