@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply 
    w-full mx-auto px-[15px]
    lg:max-w-[970px] xl:max-w-[1170px]
}

@layer base {
    body{
        @apply font-text-nm text-base 
        leading-[26px] text-dark
        /* leading-[1.6] font-normal; */
    }
  }

@layer components{
    body.open{  
        @apply overflow-hidden;
    }

    /* START OF HEADER */
    .header{
        @apply fixed top-0
        lg:static z-50
        w-full bg-light
    }
    .nav{
        @apply bg-light
        w-full h-screen p-0 z-[99]
        absolute top-[75px] right-[100%]
        lg:static lg:h-fit lg:w-fit
        transition-all duration-300 ease-in-out;
    }
    .nav.open{
        @apply flex flex-col
        top-[75px] right-0
        transition-all duration-300;
    }
    .nav ul.nav_menu{
        @apply w-full flex flex-col lg:flex-row
        justify-center items-center
        transition-all duration-500
    }
    .nav ul.nav_menu>li{
        @apply w-full lg:w-fit lg:px-[20px]
        h-[60px] lg:h-[75px] leading-[60px] lg:leading-[75px]
        text-center text-sm text-magentah bg-light
        border-t-[1px] border-gray_alt/50 lg:border-none
        transition-all duration-500
        hover:bg-magentah hover:text-light 
        lg:hover:bg-light lg:hover:text-magentah
    }
    .nav ul.nav_menu>li:last-of-type{
        @apply border-b-[1px]
    }
    .nav ul.nav_menu>li:nth-child(3){
        @apply relative h-fit lg:h-[75px] transition-all duration-500
    }
    .nav ul.nav_menu>li>ul.submenu{
        @apply relative lg:absolute left-0 lg:top-[70px] bg-[#480f2d] lg:bg-light lg:text-magentah
        text-center w-full lg:w-[230%] hidden
        transition-all duration-500
    }
    .nav ul.nav_menu>li:hover ul.submenu{
        @apply block lg:px-[11px] lg:py-[6px] transition-all duration-500
    }
    /* .nav ul.nav_menu>li:hover ul.nav_menu>li:nth-child(4){
        @apply pt-[144px]
    } */
    .nav ul.submenu>li{
        @apply h-[36px] w-full border-none 
        flex items-center justify-center lg:justify-start
        text-center lg:text-left
    }

 
    
      header nav ul li:hover ul.dropdown-menu  {
        display: block!important;
        z-index: 2;
      }

    /* .burger */
    .burger {
        @apply w-[40px] h-[40px] cursor-pointer
        relative block lg:hidden
        transition-all duration-500 ease-in-out
    }
    .burger span {
        @apply w-[40px] h-[8px] rounded-lg
        block content-[""] bg-magentah
        absolute top-0 left-0
        transition-all duration-[0.25s] ease-in-out
    }
    .burger span:nth-child(1){
        @apply top-0
    }
    .burger span:nth-child(2), .burger span:nth-child(3){
        @apply top-[15px]
    }
    .burger span:nth-child(4){
        @apply top-[30px]
    }
    .burger.active span:nth-child(1) {
        @apply top-[18px] w-0 left-1/2
    }
    .burger.active span:nth-child(2) {
        @apply rotate-45
    }
    .burger.active span:nth-child(3) {
        @apply -rotate-45
    }
    .burger.active span:nth-child(4) {
        @apply top-[18px] w-0 left-1/2
    }


    /* 
    echo "# tailwind-fbs" >> README.md
    git init
    git add README.md
    git commit -m "first commit"
    git branch -M main
    git remote add origin https://github.com/RonK-0/tailwind-fbs.git
    git push -u origin main */

    /* git remote add origin https://github.com/RonK-0/tailwind-fbs.git
    git branch -M main
    git push -u origin main */


    /* temp solution to make animation work on both desktop and mobile */
    @media (min-width: 768px) {
        keyframes bannerSlide {
            0% { background-position: 25% 0%}
            100% { background-position: 40% 80% }
          }
      
        .homeBanner {
          animation: bannerSlide 15s ease forwards;
        }
    }
    .homeBanner{
        @apply bg-banner_bg bg-lgray
        bg-400% animate-bannerSlide_m
        /* md:animate-bannerSlide */
    }
    


    .offer__entry{
        @apply w-full lg:w-[92%] mx-auto mb-[60px]
    }
    .offer__entry__label i{
        @apply text-[50px] mb-2
    }
    .offer__entry__label h3{
        @apply text-xl h-[76px]
    }
    .offer__entry__details li{
        @apply leading-[2]
    }


    .activities .container{
        @apply max-w-[96.35%] lg:max-w-[970px] xl:max-w-[1170px]
        w-full md:w-full
    }
    .activities__card{
        @apply flex flex-col items-center
        /* w-full md:max-w-[350px] */
        relative shadow-card_shadow
    }
    .activities__card__img{
        @apply overflow-hidden w-full h-[200px]
    }
    .activities__card__img img{
        @apply object-cover object-center w-full h-[192px]
        transform transition-all duration-500
        hover:scale-[1.2]
    }
    .activities__card__details{
        @apply  max-w-[85%] flex flex-col items-center text-center py-[25px] mb-[60px]
    }
    .activities__card__details h3{
        @apply text-xl font-medium
    }
    .activities__card__details h3, .activities__card__details p{
        @apply mb-5
    }
    .activities__card button{
        @apply absolute bottom-0
        hover:translate-y-[0.75px]
    }


    .cTestimonial__entries .cTestimonial__entry{
        @apply pb-4 overflow-hidden
    }
    .cTestimonial__entry .cTestimonial__entry__content{
        @apply grid lg:grid-cols-2 items-center py-4 gap-8 lg:gap-0 w-full
    }
    .cTestimonial__entry__person img{
        @apply max-w-[320px] max-h-[320px] mx-auto
    }
    .cTestimonial__entry__quote{
        @apply relative flex flex-col justify-center overflow-visible
        w-full lg:max-w-[364.5px] xl:max-w-[464.25px] mx-auto
    }
    .cTestimonial__entry__quote p{
        @apply font-extrabold text-center leading-[30px] z-10
    }
    .cTestimonial__entry__quote i{
        @apply text-[72px] md:text-[108px] text-[#bbbbbb] opacity-50 scale-y-110
    }
    .cTestimonial__entry__quote i.fa-quote-left{
        @apply absolute top-[-40px] md:top-[-50px] lg:top-[-70px] left-0 lg:left-[-40px]
    }
    .cTestimonial__entry__quote i.fa-quote-right{
        @apply absolute bottom-[-40px] md:bottom-[-50px] lg:bottom-[-70px] right-0 lg:right-[-40px]
    }
    .cTestimonial__wrapper .tns-outer{
        @apply relative
    }
    .cTestimonial__wrapper .tns-outer .tns-nav{
        @apply absolute bottom-0 z-20 w-full
        flex gap-[10px] justify-center flex-wrap
    }
    .cTestimonial__wrapper .tns-outer .tns-nav button{
        @apply bg-magentah w-[15px] h-[15px]
        transition-all
        cursor-pointer rounded-full
    }
    .cTestimonial__wrapper .tns-outer button.tns-nav-active{
        @apply bg-[#be2a76]
    }


    .footer *{
        @apply text-center md:text-left text-[10.75px] text-light
    }
    .footer i{
        @apply text-[1rem] w-4 h-4 text-center flex justify-center items-center
    }
    .footer h4{
        @apply mb-[20px] text-sm font-semibold
    }
    .footer span{
        @apply text-gray-200 
    }
    .footer__links::before, .footer__contact::before{
        @apply hidden lg:block
        absolute top-0 left-0 content-['']
        h-full w-[1px] bg-gray-300
    }
    .footer__socials__links a i{
        @apply px-[10px] py-0 text-[22px]
    }
    .footer__contact span{
        @apply flex gap-2 justify-center lg:justify-start
        py-[1px]
    }
}

@layer utilities{
    .btn{
        @apply inline-block
        rounded-[1.875rem]
        font-bold text-center
        py-[0.8125rem] px-[1.5625rem]
        transition-all;
    }
    .btn.bg--magentah{
        @apply bg-magentah text-light
        hover:bg-light hover:text-magentah 
        hover:border-[1px] hover:border-magentah;
    }
    .btn.bg--transparent-w{
        @apply bg-transparent text-light
        border-[1px] border-light
        hover:bg-light hover:text-magentah;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-magentah
        border-[1px] border-magentah
        hover:bg-magentah/10 hover:text-magentah
        hover:border-magentah/10;
    }
}